.home-container {
    background: linear-gradient(to right, #b9795f, #cacaca); /* gradiente entre dos colores */
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-title {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra */
  }
  
  
  .home-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .home-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  .home-card .card-title {
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .home-card .card-body {
    padding: 30px;
  }
  